:root {
  // brand colors
  --c-brand: #9254deff;
  --c-brand-light: #d3adf7ff;

  // background colors
  --c-bg: #f9f0ffff;
  --c-bg-light: #efdbffff;
  --c-bg-lighter: #d3adf7ff;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: rgb(191, 149, 236);

  // text colors
  --c-text: #120338ff;
  --c-text-accent: var(--c-brand);
  --c-text-light: #22075eff;
  --c-text-lighter: #391085ff;
  --c-text-lightest: #b37febff;
  --c-text-quote: #9254deff;

  // border colors
  --c-border: #d3adf7ff;
  --c-border-dark: #722ed1ff;

  // custom container colors
  --c-tip: #9254deff;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #ffc069ff;
  --c-warning-bg: #fff7e6ff;
  --c-warning-title: #ad4e00ff;
  --c-warning-text: #873800ff;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cf1322ff;
  --c-danger-bg: #fff1f0ff;
  --c-danger-title: #a8071aff;
  --c-danger-text: #820014ff;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #f9f0ffff;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;
}

// plugin-back-to-top
.back-to-top {
  --back-to-top-color: var(--c-brand);
  --back-to-top-color-hover: var(--c-brand-light);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: var(--c-text);
  --docsearch-highlight-color: var(--c-brand);
  --docsearch-muted-color: var(--c-text-quote);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-bg-light);
  --docsearch-searchbox-background: var(--c-bg-lighter);
  --docsearch-searchbox-focus-background: var(--c-bg);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  --docsearch-hit-color: var(--c-text-light);
  --docsearch-hit-active-color: var(--c-bg);
  --docsearch-hit-background: var(--c-bg);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  --docsearch-footer-background: var(--c-bg);
}

// plugin-external-link-icon
.external-link-icon {
  --external-link-icon-color: var(--c-text-quote);
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-pwa-popup
.pwa-popup {
  --pwa-popup-text-color: var(--c-text);
  --pwa-popup-bg-color: var(--c-bg);
  --pwa-popup-border-color: var(--c-brand);
  --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  --pwa-popup-btn-text-color: var(--c-bg);
  --pwa-popup-btn-bg-color: var(--c-brand);
  --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);

  --search-item-text-color: var(--c-text-lighter);
  --search-item-focus-bg-color: var(--c-bg-light);
}

html.dark {
  // brand colors
  --c-brand: #b37febff;
  --c-brand-light: rgb(219, 189, 243);

  // background colors
  --c-bg: rgb(21, 5, 61);
  --c-bg-light: rgb(98, 52, 199);
  --c-bg-lighter: rgba(129, 30, 168, 0.76);

  // text colors
  --c-text: #f9f0ffff;
  --c-text-light: #efdbffff;
  --c-text-lighter: #d3adf7ff;
  --c-text-lightest: #b37febff;

  // border colors
  --c-border: #722ed1ff;
  --c-border-dark: #d3adf7ff;

  // custom container colors
  --c-tip: #b37febff;
  --c-warning: #ffc53dff;
  --c-warning-bg: rgb(95, 60, 14);
  --c-warning-title: #ffe58fff;
  --c-warning-text: rgb(236, 191, 140);
  --c-danger: #cf1322ff;
  --c-danger-bg: #820014ff;
  --c-danger-title: #cf1322ff;
  --c-danger-text: #5c0011ff;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #423646;
}

// plugin-docsearch
html.dark .DocSearch {
  --docsearch-logo-color: var(--c-text);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}